<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css"/>
    <title>Encino  Superior</title>
</head>
<body>
    

    <form id="form1">
        <p class="pform">Nome: </p>
        <input type="name" >
        <p class="pform">Numero de Telefone: </p>
        <input type="tel" >
        <p class="pform" id="PFF"><b>OPCOES DE PAGAMENTO: </b></p>
        <img onclick="seleted_mv()" id="img_mv" src="../image/mvm1.png" alt="movi" >
        <img onclick="seleted_vm()" id="img_vm" src="../image/vmp1.png" alt="voda" >
        <p>Semanal 50MTS</p><input name="mpay" type="radio">
        <p>Mensal 150MTS</p><input name="mpay" type="radio">
        <button type="submit">Enviar</button>
    </form>
    <div class="caixinha" >
    <p id="text_suj">Bem Vindo Estudante do Primeiro Ciclo!</p>
    <p>se ainda nao tens acesso inscreva se nessa plataforma
        de baixo custo para baixar seus livros para os estudos
    </p>
    <button onclick="open_form()" class="btnr">Inscreva Se</button>
    </div>

    <div class="caixa_lista_li" id="caixa_8">

        <p class="text_lista_li" >Livros Da 8 class</p>
        <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>
        <span><img onclick="open_8()" class="img_lista_li_drop" src="../image/bai.png"/></span>

    </div>
    <div class="caixa_drop_li" id="drop_8">
        <div class="discipli">
            <h2><b>Portugues</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Ingles</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Frances</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Tecnologia(TICS)</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Desenho</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Fisica</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Quimica</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Historia</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Geografia</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Nocoes de Empriende...</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
    </div>

    <div class="caixa_lista_li" id="caixa_9">

        <p class="text_lista_li" >Livros Da 9 class</p>
        <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>
        <span><img onclick="open_9()" class="img_lista_li_drop" src="../image/bai.png"/></span>
    </div>
    <div class="caixa_drop_li" id="drop_9">
        <div class="discipli">
            <h2><b>Portugues</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Ingles</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Frances</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Tecnologia(TICS)</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Desenho</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Fisica</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Quimica</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Historia</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Geografia</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Nocoes de Empriende...</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
    </div>
    <div class="caixa_lista_li" id="caixa_10" >

        <p class="text_lista_li" >Livros Da 10 class</p>
        <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>
        <span><img onclick="open_10()" class="img_lista_li_drop" src="../image/bai.png"/></span>
    </div>
    <div class="caixa_drop_li" id="drop_10">
        <div class="discipli">
            <h2><b>Portugues</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Ingles</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Frances</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Tecnologia(TICS)</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Desenho</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Fisica</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Quimica</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Historia</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Geografia</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
        <div class="discipli">
            <h2><b>Nocoes de Empriende...</b></h2>
            <span><img class="img_lista_li" src="../image/bg1.jpg"/></span>

        </div>
    </div>
    <script src="../scripts/index.js"></script>
</body>
</html>